.game_details{
    background-color: #171717;
    border-radius: 10px;
    padding: 5px;
    height: 400px;
    min-width: 20%;
    margin-left: 50px;
    max-height: 350px;
    .header{
        display: flex;
        align-items: center;
        font-size: 34px;
        font-weight: 600;
        color: #f0f0f0;
        justify-content: center;
        .circle{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: 2px solid #f0f0f0;
            margin-left: 10px;
            &.orange{
                background-color: #ed7626;
            }
            &.black{
                background-color: #373737;
            }
        }
    }
    text-align: center;
    color: #fff;
    .game_result{
        margin: 5px;
        background-color: #ed7626;
        border-radius: 10px;
        font-size: 28px;
        font-weight: 500;
        color: #292929;
        padding: 5px;
    }
    .game_history_wrapper{
        display: flex;
        flex-direction: column;
        .title{
            text-align: center;
            font-size: 24px;
            color: #f0f0f0;
            margin-bottom: 5px;
        }
        .history{
            flex-grow: 1;
            border-radius: 10px;
            background-color: #121212;
            overflow-y: auto;
            overflow-x: hidden; /* Added overflow-x property */
            padding: 5px;
            position: relative; /* Added position: relative */
            text-align: center;
            color: #f0f0f0;
            max-height: 230px;
            .history_item{
                padding: 2px;
                border-bottom: 2px solid #f0f0f0;
                color: #f0f0f0;
                background-color: #272727;
                border-radius: 5px;
                margin: 4px 0;
                cursor: pointer;
                transition: all 200ms;
                position: relative;
                z-index: 88;
                display: flex;
                justify-content: space-between;
                .circle{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 2px solid #f0f0f0;
                    margin-left: 10px;
                    &.orange{
                        background-color: #ed7626;
                    }
                    &.black{
                        background-color: #373737;
                    }
                }
                &:hover{
                    z-index: 89;
                    background-color: #ed752694;
                  
                }
            }
            /* width */
            &::-webkit-scrollbar {
                width: 15px;
                border-radius: 7px;
            }
            /* Track */
            &::-webkit-scrollbar-track {
                background: #272727;
            }
            
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #080808;
                border-radius: 7px;
            }
            
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #050505;
            }
        }
    }
}